/* Add CSS styles here */
body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.row {
  display: grid;
}

#grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffae00;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 100vh;
  width: 100%;
}

#columnContainer {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  width: 80%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 85px;
  
}

.column {
  width: 33.3%;
  height: 100%;
  display: grid;
}
.box {
  aspect-ratio: 1/1;
  background-color: gray;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.box:hover {
  box-shadow: 1px 0px 10px rgba(72, 220, 9, 0.954);
  cursor: pointer;
}

#heading {
  font-size: large;
  position: fixed;
  z-index: 3;
  height: fit-content;
  border: 1px solid black;
  border-radius: 52%;
  width: fit-content;

}

#playerTurnDisplay {

height: 50px;
width: 100px;
margin-top: 133px;
border: 10px solid sandybrown;
background-color: gray;
position: fixed;
z-index: 2;
text-align: center;

}

#playerOneScore {
  
  position: fixed;
  z-index: 2;
  margin-right: 50%;
  top: 20%;
  border: 2px dotted turquoise;
}
#playerTwoScore {

  position: fixed;
  z-index: 2;
  margin-left: 50%;
  top: 20%; 
}

.circle {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 10px solid rgb(55, 0, 255);
  box-sizing: border-box;
}

.cross {
  height: 80%;
  width: 80%;
  position: relative;
  transform: rotate(45deg);

}
.cross:before, .cross:after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
